* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: "Montserrat", sans-serif; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #B1B0B5; /* Cambia el color de fondo aquí */
    background-size: cover;
    filter: blur(0.2px); /* Ajusta el valor para cambiar el grado de desenfoque */
}
.img {

    background-image: url('/app/templates/img/TEXTC.png');
    background-size: cover; /* o puedes usar 'contain' según tus necesidades */     width: 206px; /* Ancho deseado de la imagen */
    height: 123px; /* Alto deseado de la imagen */
    margin: 0; /* Eliminar márgenes */
    background-position: right 10px top; /* Mover la imagen hacia la derecha */
}
.logimg {
    background-image: url('/app/templates/img/LOGO.png');
    background-size: cover; /* o puedes usar 'contain' según tus necesidades */

    width: 341px; /* Ancho deseado de la imagen */
    height: 467px; /* Alto deseado de la imagen */
    margin: 0; /* Eliminar márgenes */
    background-position: right 15px top; /* Mover la imagen hacia la derecha */
}
.container {
    background-color: #d4d7de;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(61, 59, 59, 0.863);
    transition: all 1s ease;
    
}
.animated-container {
    opacity: 0; /* Inicialmente, oculta el contenedor */
    transform: translateY(20px); /* Desplaza el contenedor hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

.animated-container.show {
    opacity: 1; /* Muestra el contenedor */
    transform: translateY(0); /* Vuelve a su posición original */
}

.content {
    background-color: #f4f2e5;
	border: 1px solid #626164;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #39393a;
	padding: 20px;
   
}
.title {
    text-align: center;
    color: #0c0404;
    margin-bottom: 2rem;
}
.card h2 {
    color: #3b4a6b;
    margin-bottom: 1rem;
}

h2 {
	color: #446688;
}
p {
	margin-bottom: 20px;
}
.footer{
    width: 100%;
    padding: 0 20px;

}
.footer h2 {
    font-size: 2.5rem;
    
}
.footer p {
    margin: 15px 0;
    color: #3b4a6b;
}
.footer input {
    background-color: transparent;
    outline: none;
    border:solid 2px #3b4a6b;
    border-radius: 20px;
    padding: 10px 20px;
    color: #3b4a6b;
    cursor: pointer;
    transition: background-color .3s ease;

}
.footer input:hover {
    background-color: #3b4a6b;
    border: none;
    color: #d4d7de;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}



