* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  height: 100%;
}


.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between; /* Ensure space between header, content, and footer */
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Full width to align logo to the right */
  margin: 4px;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
}

.logo-container img {
  width: 186px;
  height: 73px;
}


.content {
  display: flex;
  width: 100%; /* Full width to use space effectively */
  padding: 0 20px;
  justify-content: space-around; /* Space elements evenly */
  align-items: center;
  flex-grow: 1; /* Grow to use available space */
}






.left-column, .center-column, .right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Adds margin between columns */
}

.profile-container img, .robot-container img, .image-container img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.profile-container img {
  width: 200px;
  height: 200px;
}

.robot-container img {
  width: 188px;
  height: 173px;
}

.image-container img {
  width: 688px;
  height: 461px;
}

.status {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.timer {
  margin: 10px 0;
  font-size: 1.5rem;
}

.button {
  padding: 10px 20px;
  margin-top: 10px; /* Adjust as needed to create space */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
}

.cancel {
  background-color: #007bff;
}

.finish {
  background-color: #4caf50;
}

.voice-button {
  background-color: #3182ce;
}

/* Additional styles to ensure footer buttons are at the bottom */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
}

