* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))), url('../img/fondo.jpg');
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 94vh;
  align-items: center;
  justify-content: flex-start; /* Alinea elementos al principio */
}

.test-title {
  font-size: 30px;
  display: flex;
  justify-content: left;
  width: 100%; /* Full width to use space effectively */
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Full width to align logo to the right */
  margin: 4px;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */
}

.logo-container img {
  width: 186px;
  height: 73px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divide en tres columnas */
  grid-template-rows: auto 1fr auto; /* Tres filas: contenido superior, fila central flexible, contenido inferior */
  gap: 20px ; /* Espacio entre columnas y filas */
  width: 100%;
  padding: 20px;
  align-items: start /* Alinea el contenido al inicio de cada celda */
}

.left-column {
  grid-column: 1; /* Coloca en la primera columna */
  grid-row: 1 / span 2; /* Extiende desde la primera fila a través de dos filas */
}

.center-column {
  grid-column: 2; /* Coloca en la segunda columna */
  grid-row: 1; /* Coloca en la primera fila */
}

.right-column {
  grid-column: 3; /* Coloca en la tercera columna */
  grid-row: 1; /* Coloca en la tercera fila, es decir, debajo de las demás */
  
}

.left-column, .center-column, .right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Adds margin between columns */
}

.profile-container img, .robot-container img, .image-container img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.profile-container img {
  width: 200px;
  height: 200px;
}

.robot-container img {
  width: 200px;
  height: 250px;
}

.image-container img {
  width: 688px;
  height: 461px;
}

.status {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.timer {
  margin: 10px 0;
  font-size: 1.5rem;
}

h2 {
	color: #446688;
}
p {
	margin-bottom: 20px;
}




.footer2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  margin: 0 auto;

}

.footer2 h2 {
  font-size: 2.5rem;
  
}
.footer2 p {
  margin: 20px 0;
  color: #3b4a6b;
}
.footer2 input {
  background-color: transparent;
  outline: none;
  border:solid 2px #3b4a6b;
  border-radius: 50px;
  padding: 10px 50px;
  color: #3b4a6b;
  cursor: pointer;
  transition: background-color .3s ease;

}
.footer2 input:hover {
  background-color: #3b4a6b;
  border: none;
  color: #d4d7de;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}







.footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  margin: 0 ;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetics */

}
.footer h2 {
  font-size: 2.5rem;
  
}
.footer p {
  margin: 20px 0;
  color: #3b4a6b;
}
.footer input {
  background-color: transparent;
  margin: 10px;
  outline: none;
  border:solid 2px #3b4a6b;
  border-radius: 50px;
  padding: 10px 50px;
  color: #3b4a6b;
  cursor: pointer;
  transition: background-color .3s ease;

}
.footer input:hover {
  background-color: #3b4a6b;
  border: none;
  color: #d4d7de;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}
