<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Inicio o Registro</title>




</head>
<body>
    <div class="container-form">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                
                <p> Para acceder inicia lesion o registrate</p>
                <input type="button"   value="Iniciar Sesion" >


            </div>


        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear Cuenta </h2>
                <div class="icons">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWBJREFUSEu1lY1NxTAMhP02gUmATWASYBJgEmAS2AT6Vbno8temT6qlqmpi+3yX2L3EyXY5OX/MANxHBM9dev9GBM/38v2VnmGdWwA3EfGWkm4RBewhgTZ+I4CXiHg+IB8gH4s/cYX1AB5T5QfyZ9fXGqQGQJaf5I6+Twt1AMWGSjH8MBLixz7nxD4xrK1WA3ya5u/JWQmVvPftkuJ32wOopXGAPbm4DMTLOPSVhTOoAbLTXvYkmaSVdOuBO4BXUdCcAMDF5aV6CiwAqECHlx0mk+PWLdAZOMA1DDw+F+8ATvEagD9jmy+IA9Tde+QWDWMdgEaBhVvTmdU+Z+aNuHlNdRMIohsBpEM1PVnzZnNJHbe4IKNRoQmpEaCx4Ynq5mqq740K1qTnnjy9iQtLzi7b3riWPIziItAKUbIm+YiBAvyH02MjBs0EnWHgPupuP2D2R+vFRZv5Jx+YFq3r6QD/Wc9YGdHIjH4AAAAASUVORK5CYII="/>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAT1JREFUSEu1lY2NwjAMhV83gUmATWASYBK4Se42ATahX5VEbur8FB2WUFAT+9l+L86gL9vw5fjqAdhL4rcL63Nc/yS9wsr/otUANpJuIWgtBoAHSawLKwFcJJ1XtI/gP+N5/GbmAfQGJyhVWrvmIDkADo9K5gQlyN2csQmxfwrcTEdygN9Gz7dOr/OKAeHcAuAYSC0VQNZkF41q8Ynqsn6QPqnLVtDqve1vK5l01gIgSRxLRvax961kyJ4qZhVAbq4KC7YGIPFgK/AAZoQVSisJY4ptAbyDPQBeYkkQLZLjGCAZOwpsK7174wIw0KjiP0hOfK25aL0kJwV5N7k2KnoB0iXzAPhW0ngPQHPYxf57IC0Au594XPPglAAWE9SqpOfJjEMN8uLzyEjhO3J0XzJvmlYU+vlWTwWfRx8934+GURlCF0MNAAAAAElFTkSuQmCC"/>
                   

                </div>
                <p>O usa tu Email para crear una cuenta </p>
                 <form>
                    <label>
                        <box-icon name='user' ></box-icon>
                        <input type="text" placeholder="Nombres Completos" >

                    </label> 
                    <label>
                        <box-icon name='envelope' type='solid' ></box-icon>
                        <input type="email" placeholder="Escriba su correo"> 

                    </label>
                    <label>
                        <box-icon name='lock' ></box-icon>
                        <input type="password" placeholder="Ponga una contraseña">
                    </label>
                    <input type="submit" value="Registrarse">

                    
                 </form>
            </div>
        </div>
    </div>
</body>
</html>