<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Test de Personalidad</title>
    <link rel="stylesheet" href="/app/static/css/styleperfil.css">
<script src="/app/static/js/scriptperfil.js"></script>
</head>
<body>

    <!-- Columna Izquierda -->
    <div class="columna">
        <div class="caja">contenedor dePerfil</div>
        <div class="caja">contenedor de recomendaciones</div>
        <div class="caja">contenedor de videos</div>
        <div class="caja">contenedor de metas</div>
    </div>

    <!-- Columna Central -->
    <div class="columna">
        <div class="caja grande">Resultados del test de Personalidad</div>
        <div class="caja">contenedor de datos del cliente</div>
        <div class="caja">contenedor de test preliminar</div>
        <div class="caja">contenedor de diagnostico</div>
        <div class="caja">contenedor contenedor de destrezas</div>
        <button class="boton">DESCARGAR RESULTADOS</button>
    </div>

    <!-- Columna Derecha -->
    <div class="columna">
        <div class="caja">contenedor del bot</div>
        <div class="caja">CONTAINER imagen</div>
        <button class="boton">BOTÓN</button>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
