<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app/static/css/stylePrincpial.css">
  <title>Template</title>
</head>
<body>
    <header>
      <h1>Título</h1>
    </header>
    <main>
      <section class="imagen-principal">
        <img src="imagen.jpg" alt="Imagen principal">
      </section>
      <section class="texto-principal">
        <h2>Texto principal</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet orci eget diam ultricies ultrices. Nunc velit risus, ultricies sit amet orci nec, ultricies elementum risus. Nunc ac ante mauris. Nulla facilisi. Maecenas sit amet neque eget eros luctus ultrices. Nam eget lacus eget eros ultricies vehicula. Nunc tincidunt risus eget enim ultricies, eu lobortis massa feugiat.</p>
      </section>
      <section class="seccion-botones">
        <button class="boton">Botón 1</button>
        <button class="boton">Botón 2</button>
      </section>
      <section class="seccion-emocion">
        <h3>¿Qué nivel de incomodidad experimenta al visualizar la imagen proporcionada en esta representación visual?</h3>
        <select name="emocion">
          <option value="ansiedad">Ansiedad</option>
          <option value="miedo">Miedo</option>
          <option value="asco">Asco</option>
          <option value="tristeza">Tristeza</option>
          <option value="otra">Otra</option>
        </select>
      </section>
      <section class="seccion-camara">
        <h2>VIDEO EN VIVO</h2>
        <div class="video">
          </div>
      </section>
    </main>
    <footer>
      <p>Pie de página</p>
    </footer>
  </body>
  </html>
</html>